.InteractionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  height: 70vh;
  width: 55vw;
}
.CarouselArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 92%;
  background-color: none;
  border: 1px solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* translúcido */
  backdrop-filter: blur(5px); /* más sutil que el fondo */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* para efecto glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
