.InteractionArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
}
.LayoutArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  padding: 2vh;
  gap: 10vh;
}
.TextArea {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 3vh;
}
.TextArea h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 700;
  font-size: 4vh;
}
.TextArea p {
  font-family: "Abel", serif;
  font-size: 2vh;
}
.CardsArea {
  display: flex;
  gap: 2em;
}

@media (min-width: 200px) {
  .CardsArea {
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .LayoutArea {
    height: 130vh;
  }
}
@media (min-width: 1024px) {
  .CardsArea {
    flex-direction: row;
  }
  .InteractionArea {
    padding: 3vh;
  }
  .LayoutArea {
    height: 60vh;
  }
  .TextArea {
  }
}
