/*Area de Nav*/
.MainArea {
  display: flex;
  flex-direction: column;
}
.NavMainArea {
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: space-between; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1;
  background-color: #c7bcae;
  border-bottom: 3px solid black;
}
.LayoutNav {
  display: none;
  height: 15vh;
}
.NavAndButtom {
  display: flex;
  height: 100%;
  width: 35rem;
  justify-content: space-evenly;
  align-items: center;
}

.NavArea {
  padding: 0.1rem 1rem; /* Espacio dentro del nav */
  width: 35rem;
  height: 100%;
}

.NavRowArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.NavItem {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Tienne", sans-serif;
  font-optical-sizing: auto;
  list-style: none;
  font-weight: 500;
}
.NavItem:hover {
  background-color: #585d61;
  transition: 0.5s;
}

.NavItem a:hover {
  color: #120808;
  transition: 0.3s;
}
.NavItem a {
  text-decoration: none;
  color: #020101;
}

/*Button Login Area*/
.LoginArea {
  display: flex;
}
/*Image Logo*/
.LogoArea {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.NavDarkened {
  background-color: rgba(0, 0, 0, 0.6);
}
.Hamburger {
  display: none;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #020101;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid black;
  border-radius: 0.3em;
}

.MobileMenu {
  display: none;
  background-color: #c7bcae;
  flex-direction: column;
  position: fixed;
  z-index: 999;
}
.MobileMenu a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Tienne", sans-serif;
  height: 100%;
  padding: 0.5em;
  color: #020101;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.MobileMenu a:hover {
  background-color: #bda689;
}
/*Celular*/
@media (min-width: 220px) {
  .LayoutNav {
    display: flex;
  }
  .NavMainArea {
    position: fixed;
    padding-inline: 1em;
  }
  .NavAndButtom {
    width: 17vh;
    gap: 1.5vh;
  }
  .NavArea {
    display: none;
  }

  .LoginArea {
    display: flex;
    z-index: 1;
  }
  .LogoArea {
    width: 13vh;
    height: 13vh;
  }
  .Hamburger {
    display: flex;
    width: 7vh;
    height: 6vh;
    font-size: 3.5vh;
  }

  .MobileMenu {
    display: flex;
    top: 15vh;
    left: 0;
    width: 100vw;
    padding: 1em;
    gap: 1em;
  }

  .MobileMenu a {
    height: 100%;
    font-size: 1.5rem;
  }
}
/*Tablets*/
@media (min-width: 600px) {
  .NavAndButtom {
    width: 23vh;
    gap: 2vh;
  }
  .LogoArea {
    width: 13vh;
    height: 13vh;
  }
  .Hamburger {
    width: 8vh;
    height: 7vh;
    font-size: 4vh;
  }

  .MobileMenu a {
    font-size: 1.5rem;
  }
}
/*Laptops*/
@media (min-width: 1024px) {
  .LayoutNav {
    display: flex;
  }
  .NavMainArea {
    padding-inline: 2em;
  }
  .LogoArea {
    width: 13vh;
    height: 14vh;
  }
  .NavArea {
    display: flex;
  }
  .Hamburger {
    display: none;
  }
  .NavAndButtom {
    width: 90vh;
    gap: 2vh;
  }
  .NavRowArea {
    width: 70vh;
  }
  .NavItem {
    font-size: 1.5vw;
  }
}
/*Desktops*/
@media (min-width: 1280px) {
  .NavAndButtom {
    gap: 2vh;
  }

  .NavItem {
    height: 100%;
    width: 70%;
    font-weight: 500;
    font-size: 1.5vw;
  }
  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .LogoArea {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    align-items: center;
    width: 9rem;
    height: 9rem;
  }
  .LoginArea {
    margin-right: 1em;
  }
}
