.InteractionArea {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: 1px solid;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  height: 68vh;
  width: 75vw;
}
.CarouselArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 92%;
  background-color: rgba(41, 39, 38, 0.473);
  border: 1px solid;
  border-radius: 20px;
}
.ExpandableCardDemo {
  height: 90%;
  width: 60%;
  overflow-y: auto; /* solo scroll vertical */
  overflow-x: hidden;
}
.ExpandableCardDemo::-webkit-scrollbar {
  width: 8px;
}

.ExpandableCardDemo::-webkit-scrollbar-track {
  background: transparent;
}

.ExpandableCardDemo::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}
