.MainAreaLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ModalLogin {
  background-color: white;
  padding: 2rem;
  height: 32em;
  width: 48em;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10000; /* Asegura que el cuadro modal esté más arriba */
}

.CloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding-right: 1em;
}
/* Contenedor Imagen y LoginForm*/
.ContainerArea {
  display: flex;
  height: 28em;
  width: 42em;
  gap: 2em;
}
