.MainArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  color: #1d1c1c;
  background-color: #8ab0fd;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 7.5em;
  height: 2.5em;
}

.MainArea:hover {
  color: white;
  border-color: #1d1c1c; /* o cambia el borde */
  cursor: pointer;
}
.ImageArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1em;
}
.UserArea {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.nameUser {
  font-size: 0.8em;
}
.typeUser {
  font-size: 0.6em;
}
