.MainArea {
  padding: 0;
  margin: 0;
}
.ContainerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/Background-Reserv.jpg);

  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
}
.OptionsArea {
  display: flex;
  background-color: none;
  align-items: center;
  justify-content: space-evenly;
  height: 7vh;
  width: 75vw;
  border: 1px solid;
  border-radius: 15px;
  border-color: black;
  backdrop-filter: blur(10px);
}
.LeftButton {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 10px;
  border: 1px solid;
  border-radius: 15px;
  border-color: black;
}
.LeftButton:hover {
  background-color: rgba(29, 28, 27, 0.658);
  color: white;
}
.RightButton {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 15px;
  border-color: black;
  width: 40%;
  margin: 10px;
}
.RightButton:hover {
  background-color: rgba(29, 28, 27, 0.658);
  color: white;
}
.InteractionArea {
  background-color: none;
}
